<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Molecule Viewer</title>
    
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"/>
    <script src="{{url_for('static', filename='back_home.js')}}"></script>
</head>
<body>
    
    <h1>Molecule Viewer</h1>

    <div id="tabs">
        <button id="back-home-tab" class="tab">Back Home</button>
        <button class="tab">&nbsp;</button> 
        <button class="tab">&nbsp;</button>
    </div>

    <div id="main-content">
        <div id="svg-box">
            {{ svg_content | safe }}
        </div>
    </div>
</body>
</html>